
table,td{border-collapse:collapse;}
body{ padding:10px;}
.table-default{ width:100%; border-collapse:collapse; table-layout:auto; border-right:1px solid #DDD;border-bottom:1px solid #DDD;}
.table-default td{ padding:5px;border-left:1px solid #DDD;border-top:1px solid #DDD;}
.table-seperate{ border-collapse:separate; border-spacing:10px 10px; border:0;}
.w_auto{ width:auto;}
.label{ width:120px; text-align:right;}
.label-field{ float:right; width:120px; text-align:right;}
.table-seperate td{ padding:5px; border:1px solid #DDD;}
input.text-field{width:100%; padding:3px 5px; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; overflow:hidden; border:1px solid #CCC; box-sizing:border-box; border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px;}
input.text-field{*width:96%; *padding:3px 2%;}
.wp10{ width:10%;}.wp15{ width:15%;}.wp20{ width:20%;}.wp25{ width:25%;}.wp30{ width:30%;}.wp35{ width:35%;}.wp40{ width:40%;}.wp45{ width:45%;}.wp50{ width:50%;}.wp60{ width:60%;}.wp70{ width:70%;}.wp80{ width:80%;}.wp90{ width:90%;}.wp100{ width:100%;}
.w120{ width:120px;}
.error{ color:#F00;}
.disabled,.readonly{ background:#E2E2E2; color:#666;}
textarea:focus, input[type="text"]:focus{ border-color: rgba(82, 168, 236, 0.8); box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6); outline: 0 none;}

.table-grid{ table-layout:auto;}
.table-grid th{ padding:5px; border-left:1px solid #DDD;border-top:1px solid #DDD;}
.table-grid td{ text-align:center; min-width:120px;}
.table-grid-left th,.table-grid-left td{ text-align:left;}
.table-detail td{ text-align:left;}
.caption-title{ background:#DDD; font: 16px/34px Microsoft YaHei; text-align:left; padding-left:20px;}
.table-detail .label{ background:#E9E9E9;}
.table-detail .label-field{ width:120px; text-align:left;}
